# Notebook for processing airline dataset

[Airline dataset](https://www.kaggle.com/datasets/iamsouravbanerjee/airline-dataset) contains some crutial information about the passagenger travels around the globe. 

We use this dataset to extract needed information about travelling visitors per country for each month.

In [2]:
import pandas as pd
import numpy as np

## Get the data from dataset containing airline data

In [3]:
file_path = './airlineDataset.csv'
airport_data = pd.read_csv(file_path)

airport_data.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time

In [4]:
airport_data.columns

Index(['Passenger ID', 'First Name', 'Last Name', 'Gender', 'Age',
       'Nationality', 'Airport Name', 'Airport Country Code', 'Country Name',
       'Airport Continent', 'Continents', 'Departure Date', 'Arrival Airport',
       'Pilot Name', 'Flight Status'],
      dtype='object')

## Import original dataset

Import original dataset which will be modified by adding `peakSeason` and `visitorIndex` values

In [5]:
import json
file_path = 'travelRegionsRaw.json'

with open(file_path, 'r') as raw_travel:
    travel = json.load(raw_travel)
    regions_data = pd.DataFrame.from_dict(travel["regions"])
regions_data

,ParentRegion,Region,u_name,costPerWeek,jan,feb,mar,apr,may,jun,...,entertainment,wintersports,culture,culinary,architecture,shopping,budgetLevel,visitorIndex,isPeakSeason,countries
0,,World,,400,o,o,o,o,o,o,...,o,o,o,o,o,o,NaN,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'...","{'jan': False, 'feb': False, 'mar': False, 'ap...","[ZAF, CAF, IOT, ATF, NOR, FIN, SWE, DNK, ISL, ..."
1,World,Europe,,,,,,,,,...,,,,,,,NaN,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'...","{'jan': False, 'feb': False, 'mar': False, 'ap...","[CAF, IOT, ATF, NOR, FIN, SWE, DNK, ISL, FRO, ..."
2,World,North America,,,,,,,,,...,,,,,,,NaN,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'...","{'jan': False, 'feb': False, 'mar': False, 'ap...","[CAN, GRL, USA, MEX, CAN, CAN, IOT, CAN, CAN, ..."
3,World,Middle America and Caribbean,,,,,,,,,...,,,,,,,NaN,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'...","{'jan': False, 'feb': False, 'mar': False, 'ap...","[GTM, BLZ, HND, SLV, NIC, CRI, PAN, BHS, TCA, ..."
4,World,South America,,,,,,,,,...,,,,,,,NaN,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'...","{'jan': False, 'feb': False, 'mar': False, 'ap...","[VEN, COL, ECU, PER, BOL, BRA, CHL, CAF, PRY, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Southern Europe,"Spain, Canary islands",ESP_CA,350,+,+,+,++,++,++,...,+,--,o,o,o,-,10.0,"{'jan': 54, 'feb': 39, 'mar': 57, 'apr': 62, '...","{'jan': False, 'feb': False, 'mar': True, 'apr...",[ESP]
193,Southern Europe,"Portugal, mainland",PRT,350,,,,,,,...,o,--,+,+,+,-,10.0,"{'jan': 22, 'feb': 15, 'mar': 26, 'apr': 23, '...","{'jan': False, 'feb': False, 'mar': True, 'apr...",[PRT]
194,Southern Europe,"Portugal, islands",PRT_IS,350,,,,,,,...,o,--,+,o,o,-,10.0,"{'jan': 22, 'feb': 15, 'mar': 26, 'apr': 23, '...","{'jan': False, 'feb': False, 'mar': True, 'apr...",[PRT]
195,Southern Europe,Turkey,TUR,350,,,,,,,...,o,o,++,+,+,o,60.0,"{'jan': 61, 'feb': 61, 'mar': 54, 'apr': 63, '...","{'jan': False, 'feb': False, 'mar': False, 'ap...",[TUR]
196,Southern Europe,Cyprus,CYP,350,,,,,,,...,o,--,+,o,o,-,40.0,"{'jan': 4, 'feb': 5, 'mar': 4, 'apr': 5, 'may'...","{'jan': False, 'feb': False, 'mar': False, 'ap...",[CYP]

In [6]:
import calendar
list(calendar.month_name)

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [7]:
us_air_data = airport_data[airport_data['Country Name'] == 'United States']

us_air_data.columns

Index(['Passenger ID', 'First Name', 'Last Name', 'Gender', 'Age',
       'Nationality', 'Airport Name', 'Airport Country Code', 'Country Name',
       'Airport Continent', 'Continents', 'Departure Date', 'Arrival Airport',
       'Pilot Name', 'Flight Status'],
      dtype='object')

## Add country of arrival to the travel dataset

Currently the dataset only gives the information on the Arrival Airport. For our data retrieval we would need to know the country or region of the airport so that it can be useful for us

In [11]:
optd_por = pd.read_csv('optd_por_public.csv', sep='^')
optd_por.head()

,iata_code,icao_code,faa_code,is_geonames,geoname_id,envelope_id,name,asciiname,latitude,longitude,...,location_type,wiki_link,alt_name_section,wac,wac_name,ccy_code,unlc_list,uic_list,geoname_lat,geoname_lon
0,AAA,NTGA,NaN,Y,6947726,NaN,Anaa Airport,Anaa Airport,-17.352606,-145.509956,...,A,https://en.wikipedia.org/wiki/Anaa_Airport,ru|Анаа|=wkdt|Q1430785|,823,French Polynesia,XPF,PFAAA|,NaN,-17.35505,-145.50851
1,AAA,NaN,NaN,Y,4034700,NaN,Anaa,Anaa,-17.416670,-145.500000,...,C,https://en.wikipedia.org/wiki/Anaa,|Anaa|=es|Isla de Todos Santos|=|Anau|=|Tapuho...,823,French Polynesia,XPF,PFAAA|,NaN,-17.41109,-145.49414
2,AAB,YARY,NaN,Y,7730796,NaN,Arrabury Airport,Arrabury Airport,-26.693170,141.047800,...,A,https://en.wikipedia.org/wiki/Arrabury_Airport,en|Arrabury Airport|,802,Australia,AUD,AUAAB|,NaN,NaN,NaN
3,AAB,NaN,NaN,Y,2177638,NaN,Arrabury,Arrabury,-26.764080,141.028530,...,C,NaN,en|Arrabury|,802,Australia,AUD,AUAAB|,NaN,NaN,NaN
4,AAC,HEAR,NaN,Y,6297289,NaN,El Arish International Airport,El Arish International Airport,31.073330,33.835830,...,A,https://en.wikipedia.org/wiki/El_Arish_Interna...,ar|مطار العريش الدولي|=en|El Arish Internation...,591,Egypt,EGP,EGAAC|,NaN,NaN,NaN

In [22]:
optd_por.iloc[10]

iata_code                                                         AAE
icao_code                                                         NaN
faa_code                                                          NaN
is_geonames                                                         Y
geoname_id                                                    2506999
envelope_id                                                       NaN
name                                                           Annaba
asciiname                                                      Annaba
latitude                                                         36.9
longitude                                                     7.76667
fclass                                                              P
fcode                                                            PPLA
page_rank                                                    0.008733
date_from                                                         NaN
date_until                                                        NaN
comment                                                           NaN
country_code                                                       DZ
cc2                                                               NaN
country_name                                                  Algeria
continent_name                                                 Africa
adm1_code                                                          37
adm1_name_utf                                                  Annaba
adm1_name_ascii                                                Annaba
adm2_code                                                         NaN
adm2_name_utf                                                     NaN
adm2_name_ascii                                                   NaN
adm3_code                                                         NaN
adm4_code                                                         NaN
population                                                   342703.0
elevation                                                         NaN
gtopo30                                                           5.0
timezone                                               Africa/Algiers
gmt_offset                                                        1.0
dst_offset                                                        1.0
raw_offset                                                        1.0
moddate                                                    2023-11-28
city_code_list                                                    AAE
city_name_list                                                 Annaba
city_detail_list                        AAE|2506999|Annaba|Annaba|DZ|
tvl_por_list                                                      AAE
iso31662                                                          NaN
location_type                                                       C
wiki_link                        https://en.wikipedia.org/wiki/Annaba
alt_name_section    fr|Bône|h=|Bona|h=fr|Annaba|=es|Annaba|=pl|Ann...
wac                                                               500
wac_name                                                      Algeria
ccy_code                                                          DZD
unlc_list                                                      DZAAE|
uic_list                                                          NaN
geoname_lat                                                       NaN
geoname_lon                                                       NaN
Name: 10, dtype: object

In [13]:
airport_data.shape

(98619, 15)

In [14]:
def add_arrival_country(row):
    try:
        arrival = optd_por[optd_por['iata_code'] == row].iloc[0]
        return arrival['country_name']
    except IndexError:
        return ''

In [15]:
def add_arrival_region(row):
    try:
        arrival = optd_por[optd_por['iata_code'] == row].iloc[0]
        return str(arrival['adm1_name_ascii']) + " " + str(arrival['country_name'])
    except IndexError:
        return ''

In [16]:
# df['modified_age'] = df['age'] + df['name'].apply(lambda x: 5 if x == 'John' else 0)
airport_data['Arrival Country'] = airport_data['Arrival Airport'].apply(add_arrival_country)
airport_data['Arrival Region'] = airport_data['Arrival Airport'].apply(add_arrival_region)

In [17]:
airport_data[airport_data['Arrival Country'] != ''].shape

(97344, 17)

In [84]:
airport_data_sanitized = airport_data[airport_data['Arrival Country'] != '']

In [87]:
len(airport_data_sanitized['Arrival Country'].unique()), len(airport_data_sanitized['Arrival Region'].unique())

(238, 2163)

In [90]:
airport_data_sanitized.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status,Arrival Country,Arrival Region
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time,United States,Alaska United States
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time,Canada,Nunavut Canada
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time,France,Auvergne-Rhone-Alpes France
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed,Canada,Quebec Canada
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time,United States,California United States

## Data Retrieval

Get the information from dataset about `visitorIndex`

In [96]:
regions_data.columns

Index(['ParentRegion', 'Region', 'u_name', 'costPerWeek', 'jan', 'feb', 'mar',
       'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec', 'safety',
       'nature', 'hiking', 'beach', 'watersports', 'entertainment',
       'wintersports', 'culture', 'culinary', 'architecture', 'shopping',
       'budgetLevel'],
      dtype='object')

In [166]:
len(region_airport_data)

5393

In [133]:
from datetime import datetime

date_obj = datetime.strptime("12/26/2022", "%m/%d/%Y")
month_name = date_obj.strftime("%B")
    # Extract the month as a string (short name)
month_short_name = date_obj.strftime("%b")

month_short_name.lower()

'dec'

### Helper functions

In [180]:
from datetime import datetime
import re

def transform_to_month(row):
    pattern = re.compile("[0-9]*-[0-9]*-[0-9]*")
    if pattern.match(row):
        date_obj = datetime.strptime(row, "%m-%d-%Y")    
    else:
        date_obj = datetime.strptime(row, "%m/%d/%Y")
    month_short_name = date_obj.strftime("%b").lower()
    return month_short_name 


def short_to_full_month_name(short_month):
    # Parse the short month name to a datetime object
    date_obj = datetime.strptime(short_month, '%b')
    full_month_name = date_obj.strftime('%B')
    return full_month_name

def full_to_short_month_name(full_month):
    date_obj = datetime.strptime(full_month, "%B")
    return date_obj.strftime('%b').lower()

In [ ]:
optd_por[optd_por['iata_code'] == 'CXF'].iloc[0]

iata_code                                                         CXF
icao_code                                                        PACX
faa_code                                                          NaN
is_geonames                                                         Y
geoname_id                                                    5859692
envelope_id                                                       NaN
name                                                 Coldfoot Airport
asciiname                                            Coldfoot Airport
latitude                                                        67.27
longitude                                                      -150.2
fclass                                                              S
fcode                                                            AIRP
page_rank                                                         NaN
date_from                                                         NaN
date_until                                                        NaN
comment                                                           NaN
country_code                                                       US
cc2                                                               NaN
country_name                                            United States
continent_name                                          North America
adm1_code                                                          AK
adm1_name_utf                                                  Alaska
adm1_name_ascii                                                Alaska
adm2_code                                                         290
adm2_name_utf                               Yukon-Koyukuk Census Area
adm2_name_ascii                             Yukon-Koyukuk Census Area
adm3_code                                                         NaN
adm4_code                                                         NaN
population                                                        0.0
elevation                                                       310.0
gtopo30                                                         304.0
timezone                                            America/Anchorage
gmt_offset                                                       -9.0
dst_offset                                                       -8.0
raw_offset                                                       -9.0
moddate                                                    2011-12-12
city_code_list                                                    CXF
city_name_list                                               Coldfoot
city_detail_list                  CXF|5859691|Coldfoot|Coldfoot|US|AK
tvl_por_list                                                      NaN
iso31662                                                           AK
location_type                                                       A
wiki_link              https://en.wikipedia.org/wiki/Coldfoot_Airport
alt_name_section    ceb|Coldfoot Airport|=ru|Колдфут|=tg|Фурудгоҳи...
wac                                                                 1
wac_name                                                       Alaska
ccy_code                                                          USD
unlc_list                                                         NaN
uic_list                                                          NaN
geoname_lat                                                  67.25163
geoname_lon                                                -150.20657
Name: 3316, dtype: object

In [ ]:
full_to_short_month_name

In [207]:
import calendar

months = list(filter(lambda x: x != '' , list(calendar.month_name)))

def getVisitorIndexForMonth(region_airport_data):
    region_airport_data['Departure Month'] = region_airport_data['Departure Date'].apply(transform_to_month) 
    per_month_visitors = {}
    for month in months: 
        shorted_month = full_to_short_month_name(month)
        monthly_airport_data = region_airport_data[region_airport_data['Departure Month'] == shorted_month]
        # print(len(monthly_airport_data))
        per_month_visitors[shorted_month] = len(monthly_airport_data)

    return per_month_visitors
    #     print(len(month_short_name))

#### Assign visitor index 
Assign visitor indexes according to the schema `{ jan: number, feb: number, ...etc }`

In [217]:
is_empty = True

visitorIndexes = []

for idx, travelRegion in regions_data.iterrows():
    region_airport_data_1 = airport_data_sanitized[airport_data_sanitized['Arrival Country'].apply(lambda x: x in travelRegion['Region'])]
    region_airport_data_2 = airport_data_sanitized[airport_data_sanitized['Arrival Region'].apply(lambda x: x in travelRegion['Region'])]

    region_airport_data = pd.concat([region_airport_data_1, region_airport_data_2])
    visitorIndexes.append(getVisitorIndexForMonth(region_airport_data))

regions_data['visitorIndex'] = visitorIndexes

In [221]:
regions_data['visitorIndex'] = visitorIndexes
visitorIndexes

[{'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 466,
  'feb': 435,
  'mar': 439,
  'apr': 476,
  'may': 439,
  'jun': 420,
  'jul': 474,
  'aug': 482,
  'sep': 422,
  'oct': 473,
  'nov': 420,
  'dec': 447},
 {'jan': 29,
  'feb': 31,
  'mar': 28,
  'apr': 36,
  'may': 34,
  'jun': 21,
  'jul': 23,
  'aug': 38,
  'sep': 24,
  'oct': 28,
  'nov': 28,
  'dec': 36},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 90,
  'feb': 80,
  'mar': 111,
  'apr': 90,
  'may': 83,
  'jun': 98,
  'jul': 84,
  'aug': 82,
  'sep': 82,
  'oct': 102,
  'nov': 83,
  'dec': 88},
 {'jan': 90,
  'feb': 80,
  'mar': 111,
  'apr': 90,
  'may': 83,
  'jun': 98,
  'jul': 84,
  'aug': 82,
  'sep': 82,
  'oct': 102,
  'nov': 83,
  'dec': 88},
 {'jan': 90,
  'feb': 80,
  'mar': 111,
  'apr': 90,
  'may': 83,
  'jun': 98,
  'jul': 84,
  'aug': 82,
  'sep': 82,
  'oct': 102,
  'nov': 83,
  'dec': 88},
 {'jan': 90,
  'feb': 80,
  'mar': 111,
  'apr': 90,
  'may': 83,
  'jun': 98,
  'jul': 84,
  'aug': 82,
  'sep': 82,
  'oct': 102,
  'nov': 83,
  'dec': 88},
 {'jan': 90,
  'feb': 80,
  'mar': 111,
  'apr': 90,
  'may': 83,
  'jun': 98,
  'jul': 84,
  'aug': 82,
  'sep': 82,
  'oct': 102,
  'nov': 83,
  'dec': 88},
 {'jan': 90,
  'feb': 80,
  'mar': 111,
  'apr': 90,
  'may': 83,
  'jun': 98,
  'jul': 84,
  'aug': 82,
  'sep': 82,
  'oct': 102,
  'nov': 83,
  'dec': 88},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 32,
  'feb': 40,
  'mar': 45,
  'apr': 28,
  'may': 36,
  'jun': 43,
  'jul': 38,
  'aug': 34,
  'sep': 30,
  'oct': 40,
  'nov': 29,
  'dec': 36},
 {'jan': 33,
  'feb': 25,
  'mar': 31,
  'apr': 22,
  'may': 32,
  'jun': 26,
  'jul': 30,
  'aug': 21,
  'sep': 30,
  'oct': 22,
  'nov': 21,
  'dec': 20},
 {'jan': 16,
  'feb': 16,
  'mar': 16,
  'apr': 12,
  'may': 13,
  'jun': 11,
  'jul': 13,
  'aug': 5,
  'sep': 9,
  'oct': 12,
  'nov': 12,
  'dec': 8},
 {'jan': 30,
  'feb': 29,
  'mar': 26,
  'apr': 34,
  'may': 33,
  'jun': 31,
  'jul': 29,
  'aug': 24,
  'sep': 19,
  'oct': 27,
  'nov': 22,
  'dec': 22},
 {'jan': 36,
  'feb': 35,
  'mar': 31,
  'apr': 25,
  'may': 28,
  'jun': 40,
  'jul': 34,
  'aug': 34,
  'sep': 38,
  'oct': 31,
  'nov': 36,
  'dec': 28},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 34,
  'feb': 29,
  'mar': 33,
  'apr': 36,
  'may': 45,
  'jun': 36,
  'jul': 33,
  'aug': 45,
  'sep': 36,
  'oct': 41,
  'nov': 44,
  'dec': 51},
 {'jan': 35,
  'feb': 24,
  'mar': 27,
  'apr': 24,
  'may': 24,
  'jun': 26,
  'jul': 31,
  'aug': 37,
  'sep': 30,
  'oct': 27,
  'nov': 27,
  'dec': 31},
 {'jan': 35,
  'feb': 24,
  'mar': 27,
  'apr': 24,
  'may': 24,
  'jun': 26,
  'jul': 31,
  'aug': 37,
  'sep': 30,
  'oct': 27,
  'nov': 27,
  'dec': 31},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 51,
  'feb': 51,
  'mar': 63,
  'apr': 56,
  'may': 72,
  'jun': 55,
  'jul': 62,
  'aug': 60,
  'sep': 63,
  'oct': 57,
  'nov': 58,
  'dec': 56},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 122,
  'feb': 164,
  'mar': 155,
  'apr': 135,
  'may': 152,
  'jun': 108,
  'jul': 125,
  'aug': 151,
  'sep': 131,
  'oct': 127,
  'nov': 147,
  'dec': 135},
 {'jan': 25,
  'feb': 24,
  'mar': 24,
  'apr': 25,
  'may': 30,
  'jun': 24,
  'jul': 20,
  'aug': 30,
  'sep': 13,
  'oct': 14,
  'nov': 27,
  'dec': 31},
 {'jan': 35,
  'feb': 41,
  'mar': 36,
  'apr': 38,
  'may': 48,
  'jun': 35,
  'jul': 37,
  'aug': 39,
  'sep': 44,
  'oct': 26,
  'nov': 40,
  'dec': 37},
 {'jan': 31,
  'feb': 18,
  'mar': 34,
  'apr': 28,
  'may': 31,
  'jun': 37,
  'jul': 31,
  'aug': 33,
  'sep': 34,
  'oct': 37,
  'nov': 39,
  'dec': 42},
 {'jan': 313,
  'feb': 260,
  'mar': 311,
  'apr': 304,
  'may': 328,
  'jun': 285,
  'jul': 310,
  'aug': 342,
  'sep': 286,
  'oct': 322,
  'nov': 277,
  'dec': 293},
 {'jan': 313,
  'feb': 260,
  'mar': 311,
  'apr': 304,
  'may': 328,
  'jun': 285,
  'jul': 310,
  'aug': 342,
  'sep': 286,
  'oct': 322,
  'nov': 277,
  'dec': 293},
 {'jan': 313,
  'feb': 260,
  'mar': 311,
  'apr': 304,
  'may': 328,
  'jun': 285,
  'jul': 310,
  'aug': 342,
  'sep': 286,
  'oct': 322,
  'nov': 277,
  'dec': 293},
 {'jan': 313,
  'feb': 260,
  'mar': 311,
  'apr': 304,
  'may': 328,
  'jun': 285,
  'jul': 310,
  'aug': 342,
  'sep': 286,
  'oct': 322,
  'nov': 277,
  'dec': 293},
 {'jan': 313,
  'feb': 260,
  'mar': 311,
  'apr': 304,
  'may': 328,
  'jun': 285,
  'jul': 310,
  'aug': 342,
  'sep': 286,
  'oct': 322,
  'nov': 277,
  'dec': 293},
 {'jan': 313,
  'feb': 260,
  'mar': 311,
  'apr': 304,
  'may': 328,
  'jun': 285,
  'jul': 310,
  'aug': 342,
  'sep': 286,
  'oct': 322,
  'nov': 277,
  'dec': 293},
 {'jan': 44,
  'feb': 37,
  'mar': 59,
  'apr': 40,
  'may': 42,
  'jun': 59,
  'jul': 51,
  'aug': 53,
  'sep': 47,
  'oct': 57,
  'nov': 40,
  'dec': 42},
 {'jan': 12,
  'feb': 18,
  'mar': 21,
  'apr': 11,
  'may': 15,
  'jun': 10,
  'jul': 10,
  'aug': 8,
  'sep': 15,
  'oct': 13,
  'nov': 13,
  'dec': 16},
 {'jan': 16,
  'feb': 14,
  'mar': 10,
  'apr': 7,
  'may': 19,
  'jun': 17,
  'jul': 8,
  'aug': 11,
  'sep': 6,
  'oct': 16,
  'nov': 8,
  'dec': 18},
 {'jan': 116,
  'feb': 80,
  'mar': 93,
  'apr': 96,
  'may': 98,
  'jun': 86,
  'jul': 106,
  'aug': 97,
  'sep': 114,
  'oct': 103,
  'nov': 94,
  'dec': 111},
 {'jan': 116,
  'feb': 80,
  'mar': 93,
  'apr': 96,
  'may': 98,
  'jun': 86,
  'jul': 106,
  'aug': 97,
  'sep': 114,
  'oct': 103,
  'nov': 94,
  'dec': 111},
 {'jan': 116,
  'feb': 80,
  'mar': 93,
  'apr': 96,
  'may': 98,
  'jun': 86,
  'jul': 106,
  'aug': 97,
  'sep': 114,
  'oct': 103,
  'nov': 94,
  'dec': 111},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 23,
  'feb': 28,
  'mar': 19,
  'apr': 24,
  'may': 23,
  'jun': 22,
  'jul': 31,
  'aug': 23,
  'sep': 26,
  'oct': 22,
  'nov': 18,
  'dec': 27},
 {'jan': 30,
  'feb': 33,
  'mar': 42,
  'apr': 39,
  'may': 31,
  'jun': 44,
  'jul': 31,
  'aug': 45,
  'sep': 39,
  'oct': 37,
  'nov': 43,
  'dec': 35},
 {'jan': 11,
  'feb': 8,
  'mar': 7,
  'apr': 7,
  'may': 10,
  'jun': 9,
  'jul': 7,
  'aug': 10,
  'sep': 10,
  'oct': 10,
  'nov': 10,
  'dec': 6},
 {'jan': 22,
  'feb': 20,
  'mar': 19,
  'apr': 15,
  'may': 26,
  'jun': 16,
  'jul': 18,
  'aug': 20,
  'sep': 13,
  'oct': 15,
  'nov': 14,
  'dec': 23},
 {'jan': 21,
  'feb': 17,
  'mar': 20,
  'apr': 25,
  'may': 30,
  'jun': 27,
  'jul': 25,
  'aug': 34,
  'sep': 28,
  'oct': 17,
  'nov': 16,
  'dec': 19},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 54,
  'feb': 42,
  'mar': 48,
  'apr': 47,
  'may': 45,
  'jun': 58,
  'jul': 53,
  'aug': 58,
  'sep': 47,
  'oct': 58,
  'nov': 58,
  'dec': 54},
 {'jan': 20,
  'feb': 18,
  'mar': 21,
  'apr': 23,
  'may': 20,
  'jun': 22,
  'jul': 21,
  'aug': 26,
  'sep': 18,
  'oct': 13,
  'nov': 15,
  'dec': 22},
 {'jan': 32,
  'feb': 25,
  'mar': 41,
  'apr': 35,
  'may': 28,
  'jun': 30,
  'jul': 44,
  'aug': 38,
  'sep': 42,
  'oct': 45,
  'nov': 33,
  'dec': 32},
 {'jan': 25,
  'feb': 26,
  'mar': 35,
  'apr': 25,
  'may': 34,
  'jun': 20,
  'jul': 35,
  'aug': 30,
  'sep': 28,
  'oct': 25,
  'nov': 21,
  'dec': 32},
 {'jan': 22,
  'feb': 14,
  'mar': 22,
  'apr': 18,
  'may': 22,
  'jun': 16,
  'jul': 30,
  'aug': 15,
  'sep': 24,
  'oct': 21,
  'nov': 18,
  'dec': 21},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 8,
  'feb': 10,
  'mar': 7,
  'apr': 6,
  'may': 7,
  'jun': 13,
  'jul': 4,
  'aug': 5,
  'sep': 11,
  'oct': 7,
  'nov': 13,
  'dec': 13},
 {'jan': 84,
  'feb': 72,
  'mar': 74,
  'apr': 70,
  'may': 75,
  'jun': 87,
  'jul': 90,
  'aug': 86,
  'sep': 71,
  'oct': 74,
  'nov': 69,
  'dec': 77},
 {'jan': 45,
  'feb': 54,
  'mar': 68,
  'apr': 54,
  'may': 61,
  'jun': 52,
  'jul': 69,
  'aug': 54,
  'sep': 43,
  'oct': 51,
  'nov': 50,
  'dec': 62},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 14,
  'feb': 10,
  'mar': 15,
  'apr': 18,
  'may': 14,
  'jun': 11,
  'jul': 11,
  'aug': 10,
  'sep': 19,
  'oct': 24,
  'nov': 12,
  'dec': 16},
 {'jan': 36,
  'feb': 25,
  'mar': 23,
  'apr': 28,
  'may': 31,
  'jun': 34,
  'jul': 33,
  'aug': 28,
  'sep': 41,
  'oct': 28,
  'nov': 24,
  'dec': 26},
 {'jan': 48,
  'feb': 36,
  'mar': 49,
  'apr': 36,
  'may': 45,
  'jun': 53,
  'jul': 42,
  'aug': 62,
  'sep': 44,
  'oct': 47,
  'nov': 40,
  'dec': 43},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 17,
  'feb': 13,
  'mar': 12,
  'apr': 12,
  'may': 17,
  'jun': 18,
  'jul': 17,
  'aug': 14,
  'sep': 14,
  'oct': 13,
  'nov': 16,
  'dec': 10},
 {'jan': 5,
  'feb': 2,
  'mar': 3,
  'apr': 2,
  'may': 5,
  'jun': 3,
  'jul': 3,
  'aug': 5,
  'sep': 6,
  'oct': 4,
  'nov': 1,
  'dec': 4},
 {'jan': 12,
  'feb': 10,
  'mar': 11,
  'apr': 4,
  'may': 7,
  'jun': 12,
  'jul': 10,
  'aug': 10,
  'sep': 10,
  'oct': 13,
  'nov': 6,
  'dec': 5},
 {'jan': 20,
  'feb': 7,
  'mar': 6,
  'apr': 7,
  'may': 9,
  'jun': 12,
  'jul': 14,
  'aug': 8,
  'sep': 13,
  'oct': 18,
  'nov': 20,
  'dec': 12},
 {'jan': 61,
  'feb': 67,
  'mar': 81,
  'apr': 66,
  'may': 64,
  'jun': 72,
  'jul': 65,
  'aug': 63,
  'sep': 67,
  'oct': 77,
  'nov': 64,
  'dec': 69},
 {'jan': 11,
  'feb': 11,
  'mar': 14,
  'apr': 13,
  'may': 12,
  'jun': 17,
  'jul': 11,
  'aug': 10,
  'sep': 16,
  'oct': 10,
  'nov': 11,
  'dec': 11},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 26,
  'feb': 46,
  'mar': 31,
  'apr': 29,
  'may': 30,
  'jun': 34,
  'jul': 35,
  'aug': 33,
  'sep': 25,
  'oct': 29,
  'nov': 27,
  'dec': 24},
 {'jan': 3,
  'feb': 6,
  'mar': 1,
  'apr': 4,
  'may': 6,
  'jun': 4,
  'jul': 8,
  'aug': 8,
  'sep': 3,
  'oct': 4,
  'nov': 2,
  'dec': 2},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 207,
  'feb': 165,
  'mar': 179,
  'apr': 185,
  'may': 184,
  'jun': 175,
  'jul': 203,
  'aug': 189,
  'sep': 189,
  'oct': 182,
  'nov': 193,
  'dec': 192},
 {'jan': 207,
  'feb': 165,
  'mar': 179,
  'apr': 185,
  'may': 184,
  'jun': 175,
  'jul': 203,
  'aug': 189,
  'sep': 189,
  'oct': 182,
  'nov': 193,
  'dec': 192},
 {'jan': 207,
  'feb': 165,
  'mar': 179,
  'apr': 185,
  'may': 184,
  'jun': 175,
  'jul': 203,
  'aug': 189,
  'sep': 189,
  'oct': 182,
  'nov': 193,
  'dec': 192},
 {'jan': 207,
  'feb': 165,
  'mar': 179,
  'apr': 185,
  'may': 184,
  'jun': 175,
  'jul': 203,
  'aug': 189,
  'sep': 189,
  'oct': 182,
  'nov': 193,
  'dec': 192},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 65,
  'feb': 58,
  'mar': 73,
  'apr': 65,
  'may': 50,
  'jun': 57,
  'jul': 63,
  'aug': 54,
  'sep': 58,
  'oct': 53,
  'nov': 52,
  'dec': 55},
 {'jan': 43,
  'feb': 26,
  'mar': 36,
  'apr': 33,
  'may': 44,
  'jun': 36,
  'jul': 33,
  'aug': 37,
  'sep': 42,
  'oct': 36,
  'nov': 42,
  'dec': 33},
 {'jan': 4,
  'feb': 2,
  'mar': 3,
  'apr': 2,
  'may': 8,
  'jun': 4,
  'jul': 4,
  'aug': 2,
  'sep': 0,
  'oct': 8,
  'nov': 1,
  'dec': 8},
 {'jan': 133,
  'feb': 112,
  'mar': 122,
  'apr': 106,
  'may': 124,
  'jun': 145,
  'jul': 136,
  'aug': 149,
  'sep': 124,
  'oct': 137,
  'nov': 111,
  'dec': 112},
 {'jan': 133,
  'feb': 112,
  'mar': 122,
  'apr': 106,
  'may': 124,
  'jun': 145,
  'jul': 136,
  'aug': 149,
  'sep': 124,
  'oct': 137,
  'nov': 111,
  'dec': 112},
 {'jan': 143,
  'feb': 123,
  'mar': 143,
  'apr': 119,
  'may': 138,
  'jun': 157,
  'jul': 149,
  'aug': 164,
  'sep': 139,
  'oct': 154,
  'nov': 127,
  'dec': 124},
 {'jan': 133,
  'feb': 112,
  'mar': 122,
  'apr': 106,
  'may': 124,
  'jun': 145,
  'jul': 136,
  'aug': 149,
  'sep': 124,
  'oct': 137,
  'nov': 111,
  'dec': 112},
 {'jan': 133,
  'feb': 112,
  'mar': 122,
  'apr': 106,
  'may': 124,
  'jun': 145,
  'jul': 136,
  'aug': 149,
  'sep': 124,
  'oct': 137,
  'nov': 111,
  'dec': 112},
 {'jan': 133,
  'feb': 112,
  'mar': 122,
  'apr': 106,
  'may': 124,
  'jun': 145,
  'jul': 136,
  'aug': 149,
  'sep': 124,
  'oct': 137,
  'nov': 111,
  'dec': 112},
 {'jan': 24,
  'feb': 39,
  'mar': 34,
  'apr': 31,
  'may': 31,
  'jun': 23,
  'jul': 33,
  'aug': 48,
  'sep': 21,
  'oct': 31,
  'nov': 32,
  'dec': 32},
 {'jan': 4,
  'feb': 13,
  'mar': 13,
  'apr': 7,
  'may': 13,
  'jun': 10,
  'jul': 15,
  'aug': 10,
  'sep': 9,
  'oct': 14,
  'nov': 14,
  'dec': 11},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 38,
  'feb': 30,
  'mar': 39,
  'apr': 45,
  'may': 21,
  'jun': 52,
  'jul': 43,
  'aug': 37,
  'sep': 38,
  'oct': 44,
  'nov': 49,
  'dec': 51},
 {'jan': 65,
  'feb': 53,
  'mar': 47,
  'apr': 73,
  'may': 59,
  'jun': 55,
  'jul': 59,
  'aug': 54,
  'sep': 59,
  'oct': 47,
  'nov': 49,
  'dec': 73},
 {'jan': 40,
  'feb': 41,
  'mar': 39,
  'apr': 53,
  'may': 40,
  'jun': 38,
  'jul': 43,
  'aug': 42,
  'sep': 40,
  'oct': 39,
  'nov': 40,
  'dec': 55},
 {'jan': 38,
  'feb': 34,
  'mar': 45,
  'apr': 32,
  'may': 49,
  'jun': 51,
  'jul': 42,
  'aug': 42,
  'sep': 43,
  'oct': 35,
  'nov': 48,
  'dec': 33},
 {'jan': 53,
  'feb': 51,
  'mar': 49,
  'apr': 47,
  'may': 48,
  'jun': 62,
  'jul': 68,
  'aug': 63,
  'sep': 73,
  'oct': 46,
  'nov': 71,
  'dec': 46},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 179,
  'feb': 205,
  'mar': 205,
  'apr': 185,
  'may': 228,
  'jun': 185,
  'jul': 200,
  'aug': 202,
  'sep': 180,
  'oct': 212,
  'nov': 175,
  'dec': 150},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 0,
  'feb': 0,
  'mar': 0,
  'apr': 0,
  'may': 0,
  'jun': 0,
  'jul': 0,
  'aug': 0,
  'sep': 0,
  'oct': 0,
  'nov': 0,
  'dec': 0},
 {'jan': 179,
  'feb': 205,

In [224]:
regions_data[['Region', 'visitorIndex']]

,Region,visitorIndex
0,World,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'..."
1,Europe,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'..."
2,North America,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'..."
3,Middle America and Caribbean,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'..."
4,South America,"{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may'..."
...,...,...
192,"Spain, Canary islands","{'jan': 54, 'feb': 39, 'mar': 57, 'apr': 62, '..."
193,"Portugal, mainland","{'jan': 22, 'feb': 15, 'mar': 26, 'apr': 23, '..."
194,"Portugal, islands","{'jan': 22, 'feb': 15, 'mar': 26, 'apr': 23, '..."
195,Turkey,"{'jan': 61, 'feb': 61, 'mar': 54, 'apr': 63, '..."
196,Cyprus,"{'jan': 4, 'feb': 5, 'mar': 4, 'apr': 5, 'may'..."

### Import retrieved information to a new json file

In [225]:
regions_data.to_json('travelRegionsWithIndex.json', orient='records')